# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.cache/
.next/
out/
*.log

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Optional
*.zip
*.tar
*.gz
*.rar