#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





/* Works on Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 5px; /* width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f100; /* color of the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll handle */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color when hovered */
}

/* Firefox support */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb and track colors */
}

